
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_LayoutStablePage1.cshtml";
}
<ul class="page-breadcrumb breadcrumb">
    <li>

        <a href="~/Home/Accueil">Accueil</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>


<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="tiles">
    @{if (User.IsInRole("superuser") || User.IsInRole("admin"))
    {
        <a href="/Collaborateur/Index">
            <div class="tile double-down bg-blue-hoki">
                <div class="tile-body">
                    <i class="fa fa-user"></i>
                </div>

                <div class="tile-object">
                    <div class="name">
                        Collaborateur Titulaire
                    </div>
                    <div class="number">
                        
                        @ViewBag.cc
                    </div>
                </div>
            </div>
        </a>


        <a href="/CollaborateurPE/Index">
            <div class="tile  bg-yellow-saffron">
                <div class="corner">
                </div>
                <div class="tile-body">
                    <i class="fa fa-user"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        Collaborateur P.E
                    </div>
                    <div class="number">
                        
                        @ViewBag.bb
                    </div>
                </div>
            </div>
        </a>
    <a href="/projet/Index">
        <div class="tile bg-blue-steel">
            <div class="tile-body">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Taches
                </div>
                <div class="number">
                    12
                </div>
            </div>
        </div>
    </a>
    <a href="/Client/Index">
        <div class="tile bg-green-meadow">
            <div class="tile-body">
                <i class="icon-users"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Clients
                </div>
                <div class="number">
                    12
                </div>
            </div>
        </div>
    </a>
    }
      else
      {
        <label>Bonjour @User.Identity.Name</label><br />

      }
    <a href="~/Projet/IndexPr">
        <div class="tile bg-red-intense">
            <div class="tile-body">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Projets
                </div>
                <div class="number">
                    @ViewBag.pp
                </div>
            </div>
        </div>
    </a>
        
        
}

</div>